$desktop: 1200px;
$laptop: 992px;
$tablet: 768px;
$mobile: 576px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  body {
    background-color:#074250;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: bolder;
    color: white;
  }
}

.img-rounded {
  width: 100px;
}

.img-circle {
  width: 200px;
}

.page-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#container-logo {
  display: flex;
  align-items: center;
}

#txt-business-calculator {
  position: relative;
  right: 100px;
}

#logo-brasil {
  position: relative;
  left: 400px;
}

.jumbotron {
  background-color:#074250;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: bolder;
  color: white;
}

#main-dados {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.thumbnail {
  background-color:#074250;
  border: none;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  color: white;
  align-items: center;
}

#logo-trabalhista {
  width: 200px;
  height: 150px;
}